* {
  -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


.graphiql-theme {
  height: 100vh;
}
.graphiql-container .CodeMirror,
.graphiql-container input,
.graphiql-container .doc-category-item {
  font-family: 'Source Code Pro', 'Consolas', 'Inconsolata', 'Droid Sans Mono','Monaco', monospace;
}

.graphiql-container .title .logo {
  height: 30px;
}

.graphiql-container .docExplorerWrap {
  position: fixed;
  right: 0px;
  height: 100vh;
  z-index: 9999;
  min-width: 320px;
}

.graphiql-container .docExplorerShow,
.graphiql-container .topBar {
  border: none;
  position: relative;
  z-index: 9999;
}


.graphiql-container .result-window .CodeMirror-gutters {
  width: 13px;
  position: absolute;
  z-index: 9000;
  top: 0;
}

.graphiql-container .docExplorerShow,
.graphiql-container .doc-explorer-back {
  color: #E10098;
}

.graphiql-container .docExplorerShow:before,
.graphiql-container .doc-explorer-back:before {
  border-color: #E10098;
}


.graphiql-container .CodeMirror-cursor {
  border-left-color: #fff !important;
}

.graphiql-container .title em {
  color: #c30788;
}

.graphiql-container .execute-button,
.graphiql-container .toolbar-button error,
.graphiql-container .toolbar-button {
  box-shadow: none;
  transition: all 0.3s ease;
}

.graphiql-container .execute-button {
  border: none;
}

li.CodeMirror-hint-active, 
::selection,
.graphiql-container .execute-button:hover,
.graphiql-container .toolbar-button:focus,
.graphiql-container .toolbar-button:hover,
.graphiql-container .execute-button:active,
.graphiql-container .toolbar-button:active {
  box-shadow: none;
}

.graphiql-container .footer {
  padding: 6px 20px 4px 20px;
  text-align: right;
  font-weight: bold !important;
  font-size: 13px;
  margin-left: 14px;
}

.graphiql-container .footer:before {
  background: none;
}
.graphiql-container .footer .social-icon {
  margin-left: 20px;
}

.graphiql-container .search-box:before {
  top: -2px;
}

.graphiql-container .search-box > input {
  background: none;
  padding: 6px 24px 8px 25px;
}

.graphiql-container .search-box .search-box-clear {
  background: none;
  border-radius: 50%;
  height: 22px;
  width: 10px;
  padding: 0 6px 0 6px;
  line-height: 2;
  right: 20px;
}

.material .graphiql-container .result-window .CodeMirror-gutters,
.graphiql-container .resultWrap,
.graphiql-container .footer {
  border-left: none !important;
}

