.material .graphiql-container .docExplorerHide:hover,
.material .graphiql-container .search-box .search-box-clear:hover {
  color: #3f4f57;
  transition: color 0.3s ease;
}

.material .graphiql-container .doc-explorer-contents {
  border-top: 2px solid #3f4f57;
  transition: color 0.3s ease;
}

.graphiql-container .docExplorerShow,
.graphiql-container .topBar {
  border-bottom: 2px solid #3f4f57;
}

.material .graphiql-container .doc-category-title {
  border-color: #3f4f57;
  transition: border-color 0.3s ease;
}

.graphiql-container .docExplorerShow,
.graphiql-container .doc-explorer-back {
  color: #fff;
}

.graphiql-container .docExplorerShow:before,
.graphiql-container .doc-explorer-back:before {
  border-color: #fff;
}


.material .neo .graphiql-container .execute-button,
.material .neo .graphiql-container .toolbar-button error,
.material .neo .graphiql-container .toolbar-button {
  background: #3f4f57 !important;
  transition: background 0.3s ease;
}

.material .graphiql-container .result-window .CodeMirror,
.material .graphiql-container .variable-editor-title {
  background: #263238;
  transition: background 0.3s ease;
}

.material .graphiql-container .docExplorerShow,
.material .graphiql-container .topBar {
  background: #1f2b31;
  transition: background 0.3s ease;
}




.material .graphiql-container .footer,
.material .graphiql-container .variable-editor-title ,
.material .graphiql-container .title {
  color: #bcbcbc !important;
  transition: color 0.3s ease;
}



.material .graphiql-container input.theme-switch:checked {
  background: #bcc1c4 !important;
  transition: color 0.3s ease;
}


.material .graphiql-container .footer {
  color: #1f2b31;
}



/* Buttons */
.material .graphiql-container .execute-button,
.material .graphiql-container .toolbar-button error,
.material .graphiql-container .toolbar-button 
.material .graphiql-container .footer,
.material .graphiql-container .variable-editor-title,
.material .graphiql-container .resultWrap,
.material .graphiql-container .result-window .CodeMirror-gutters {
  background: #32454e;
  transition: background 0.3s ease;
}

.material .graphiql-container .execute-button,
.material .graphiql-container .toolbar-button error,
.material .graphiql-container .toolbar-button {
  color: #fff;
  transition: color 0.3s ease;
}

.material li.CodeMirror-hint-active, 
.material ::selection,
.material .graphiql-container .execute-button:hover,
.material .graphiql-container .toolbar-button:focus,
.material .graphiql-container .toolbar-button:hover,
.material .graphiql-container .execute-button:active,
.material .graphiql-container .toolbar-button:active {
  background: #5f5e5e !important;
  transition: background 0.3s ease;
}

.material .graphiql-container .execute-button svg {
  color: #bcbcbc;
  fill: currentColor;
  transition: all 0.3s ease;
}


.material .graphiql-container .cm-number {
  color: #e46f64;
  transition: color 0.3s ease;
}



/* Doc explorer dark */
.material .graphiql-container .doc-explorer,
.material .graphiql-container .doc-explorer-contents {
  color: #bcbcbc;
  background: #1f2b31
}

.material .graphiql-container .field-name ,
.material .graphiql-container .CodeMirror-linenumber {
  color: #5c8e7f;
}

.material .graphiql-container .arg-name,
.material .graphiql-container :not(pre)>code  {
  color: #dfb463;
}

.material .graphiql-container .type-name {
  color: #e46f64;
}

.material .graphiql-container .keyword {
    color: #ffffff;
}

.material .graphiql-container .search-box {
  border-bottom: 1px solid #32454e;
}

.material .graphiql-container .search-box > input {
  color: #fbfbfb;
  background: none;
}

.material .graphiql-container .doc-category-title {
  color: #bcbcbc;
}

.material .graphiql-container .search-box .search-box-clear {
  background: none;
  border-radius: 50%;
  height: 22px;
  width: 10px;
  padding: 0 6px 0 6px;
  line-height: 2;
  right: 20px;
}


/* borders */
.material .graphiql-container .docExplorerShow,
.material .graphiql-container .doc-explorer-contents,
.material .graphiql-container .doc-explorer-title-bar {
  border-left: 1px solid #32454e;
}

.material .graphiql-container .result-window .CodeMirror-gutters {
  border-right: 1px solid #3f4f57;
}

.material .graphiql-container .footer,
.material .graphiql-container .variable-editor-title {
  border-top: 1px solid #3f4f57;
}

.material .graphiql-container .cm-invalidchar {
  color: #fff
}